{% set attr_opt = {
    class:        field.class|default(''),
    name_id:      key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false),
    value:        context.content.get(contentkey),
}%}

<fieldset class="colourspectrum">
    <div class="col-sm-12">
        <div>
            <label class="control-label">{{field.label|default(key)}}</label>
        </div>
        <input type="text" data-colourspectrum
            {% if field.options is defined %} data-spectrum-options="{{ field.options | json_encode }}" {% endif %}
            {{ macro.attr(attr_opt) }} />
    </div>
</fieldset>
